//font family
$font-family-primary: "Poppins", sans-serif;

//breakpoints
$media-tablet-break: 770px;
$media-desktop-break: 1100px;

//Transition
$transition: all 0.3s;

//colors
$black: #000;
$white: #fff;
$gold: #e1ac80;
$gold-lighten: #efd2ba;
$primary-color: #40183e;
$secondary-color: #e1d1e0;
$bg-grey: #f2f2f2;
