@use "../shared" as *;
.footer {
   color: $primary-color;

   &__top {
      padding: 50px 0;
      text-align: center;
      background: $primary-color;
      color: $white;

      .wrapper {
         display: grid;
         gap: 50px;

         @include limbo-min {
            grid-template-columns: 1fr 1fr;
         }

         @include desk-min {
            display: flex;
            justify-content: space-between;
            gap: 100px;
            text-align: left;
         }
      }
   }

   &__list {
      ul {
         display: flex;
         flex-direction: column;
      }

      li {
         &:not(:last-child) {
            margin-bottom: 15px;
         }
      }
   }

   &__title {
      font-size: 20px;
      font-weight: 600;
      line-height: 24px;
      display: inline-block;
      white-space: nowrap;
      margin-bottom: 20px;
      position: relative;

      @include tab-min {
         margin-bottom: 30px;
      }

      &:before {
         content: "";
         bottom: -4px;
         width: 50px;
         background: $white;
         left: -7px;
         height: 2px;
         position: absolute;
      }

      &:after {
         content: "";
         bottom: -2px;
         height: 18px;
         background: $white;
         left: -7px;
         width: 2px;
         position: absolute;
      }
   }

   &__contact {
      ul {
         @include limbo-max {
            align-items: center;
         }
      }

      a {
         @include mob-only {
            svg {
               position: relative;
               top: 3px;
            }
         }
         @include tab-min {
            display: flex;
            align-items: center;
            gap: 7px;
         }

         svg {
            transition: $transition;
         }

         &:hover {
            svg {
               transform: scale(1.3);
            }
         }
      }
   }
   &__additional {
      a {
         &:hover {
            text-decoration: underline;
         }
      }
   }

   &__working-hours {
      &-wrap {
         display: flex;
         gap: 20px;

         @include limbo-max {
            justify-content: center;
         }
      }

      li {
         display: flex;
         align-items: center;
         gap: 7px;
         white-space: nowrap;
      }

      p {
         font-weight: 600;
      }
   }

   &__socials {
      display: flex;
      justify-content: center;
      gap: 15px;
      margin-top: 30px;

      @include desk-min {
         justify-content: flex-start;
      }

      a {
         transition: $transition;

         &:hover {
            transform: scale(1);
         }
      }
   }

   //  Bottom
   &__bottom {
      padding: 15px 0;

      .wrapper {
         display: flex;
         flex-direction: column;
         align-items: center;
         gap: 12px;

         @include desk-min {
            flex-direction: row;
            justify-content: space-between;
         }
      }
   }

   &__copyright {
      font-size: 14px;
      line-height: 21px;
      text-align: center;
   }

   &__policy {
      display: flex;
      gap: 15px;
      font-size: 14px;
      align-items: center;

      @include mob-only {
         flex-direction: column;
      }

      a {
         text-decoration: underline;

         &:hover {
            text-decoration: none;
         }
      }
   }
}
